html {

    height: 100%;
    display: grid;
    background: url("https://cdn141.picsart.com/320929378344201.jpg?type=webp&to=min&r=640") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Title h1 {
    color: red;
    font-size: 60px;

}

#instruction {
    color: #eef3ee;
    font-size: 30px;
}
#instruction input, #instruction button {
    font-size: 20px;

    font-family: Georgia;
}
#display {
    color: grey;
}
