html {

    height: 100%;
    display: grid;
    background: url("https://cdn141.picsart.com/320929378344201.jpg?type=webp&to=min&r=640") no-repeat center center fixed;
   background-size: cover;
}
#Title h1 {
    color: #e80a0a;
    font-size: 40px;

}

#instruction {
    color: #eef3ee;
    font-size: 20px;
}
#instruction input, #instruction button {
    font-size: 15px;

    
}
